$couleur1: oklch(42.4% 0.199 265.638);
$couleur2: oklch(54.6% 0.245 262.881);
$couleur3: oklch(98.5% 0 0);
$couleur4: black;

body {
  color: $couleur4;
  background-color: $couleur3;
}

h1,
h2,
h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.2rem;
}

main {
  padding-top: 64px;
}

#confirmation {
  height: 67vh;
}

#formulaire button {
  background-color: $couleur1;
  width: 100%;
  padding: 10px;
  border-radius: 5%;
  color: $couleur3;
  cursor: pointer;
  margin-top: 10px;
  &:hover {
    background-color: $couleur2;
  }
}

#banner button {
  background-color: $couleur1;
  padding: 10px;
  border-radius: 5%;
  color: $couleur3;
  cursor: pointer;
  margin: 0px 10px;
  margin-top: 10px;
  &:hover {
    background-color: $couleur2;
  }
}

#panier tr {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;

  td {
    padding: 5px 0px;
  }
  img {
    width: 500px;
    height: auto;
  }
  div {
    margin-bottom: 50px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
}

#commander button {
  background-color: $couleur1;
  padding: 10px;
  border-radius: 5%;
  color: $couleur3;
  cursor: pointer;
  margin-top: 10px;
  &:hover {
    background-color: $couleur2;
  }
}

#commande tr {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: start;
    padding: 10px 2px;
    font-size: 1.5rem;
  }

  td {
    padding: 5px 0px;
  }
  div {
    margin-bottom: 50px;
  }
}

#promo button {
  background-color: $couleur1;
  padding: 10px;
  border-radius: 5%;
  color: $couleur3;
  cursor: pointer;
  margin-top: 10px;
  &:hover {
    background-color: $couleur2;
  }
}

#cards {
  height: 450px;
  button {
    background-color: $couleur1;
    padding: 10px;
    border-radius: 5%;
    color: $couleur3;
    cursor: pointer;
    &:hover {
      background-color: $couleur2;
    }
  }
}

#cards-sealed {
  height: 400px;
  button {
    background-color: $couleur1;
    padding: 10px;
    border-radius: 5%;
    color: $couleur3;
    cursor: pointer;
    &:hover {
      background-color: $couleur2;
    }
  }
}

#filtrage {
  grid-column: 1 / 4;
  input {
    margin-right: 10px;
  }
  button {
    background-color: $couleur1;
    border-radius: 5%;
    padding: 10px 0px;
    color: $couleur3;
    &:hover {
      background-color: $couleur2;
    }
    a {
      padding: 10px 15px;
    }
  }
}

#produitsealed hr {
  width: 225px;
  margin-bottom: 15px;
}

.active {
  text-decoration: underline;
}
